/* LoginPage 컴포넌트 내부에만 적용될 스타일 */
.login-container {
  display: flex;
  height: calc(100vh - 80px); /* 네비게이션 바의 높이를 고려 */
  width: 100vw;
  overflow: hidden;
}

.login-container .image-container {
  flex: 1;
  overflow: hidden;
}

.login-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.login-container .button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.login-container .google-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-container .image-container, .login-container .button-container {
    width: 100%;
    height: 50%;
  }

  .login-container .image-container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
