/* NavBar.css */
nav {
    background-color: #333;
    padding: 1rem;
    color: white;
    height: 5rem;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  li {
    margin: 0 1rem;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff1c1c;
  }
  